@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;900&display=swap');

body {
    color: #232323;
    background-color: #F0F0E4;
    width: 90%;
    margin: 0 auto;
    margin-top: 8px;
    font-family: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
}